@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white font-sans antialiased;
}
.container {
  @apply max-w-screen-xl mx-auto px-4;
}
@screen md {
  .container {
    @apply px-6;
  }
}
@screen lg {
  .container {
    @apply px-8;
  }
}
@layer base {
  article > blockquote {
    @apply bg-emerald-300 border border-l-8 border-emerald-300;
  }
  article > blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  article > blockquote p {
    display: inline;
  }
}
